h1 {
    text-align: center;
  
}
input[type=text] {
   /* width: 100%;*/
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
    border-radius: 25px;
 }



.two-col {
    overflow: hidden;/* Makes this div contain its floats */
}

.two-col .col1 {
    margin-left: 50px;
    
}
.two-col .col2 {
    width: 49%;
}

.two-col .col1 {
    float: left;
}

.two-col .col2 {
    float: right;
}

.two-col label {
    display: block;
}

li {
    list-style: none;
  }
  li::before {
    content: '';
    display: inline-block;
   
    width: 50px;
   
  }
  img {
    border: 5px solid rgb(4, 4, 4);
    border-radius: 50%;
    width: 125px;
  }
  .bulb{
    background-image: linear-gradient( #7AC74C,#A33EA1);
   /* background-color: rgb(6, 155, 6);*/
  }
  .char{
    background-image: linear-gradient( #EE8130, #A98FF3);
  }
  .squ{
    background-color: #6390F0;
  }
  .cat{
background-color: #A6B91A;
  }
  .butter{
    background-image: linear-gradient(#A6B91A,#A98FF3);
  }
  .wee{
    background-image: linear-gradient(#A6B91A,#A33EA1);
  }
  .pig{
    background-image: linear-gradient(#A8A77A,#A98FF3);
  }
  .rat{
    background-color: #A8A77A ;
  }


.pokedex{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  text-align: center; 
}


body{
    background-image: linear-gradient(#ffffff,#5df8f3);
  
}
button{
    border-radius: 25px;
}
.popUpList{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  text-align: center;
}